
@{
    ViewBag.Title = "Deleted";
}

<h2>Deleted</h2>

<asp:Content ID="Title" ContentPlaceHolderID="TitleContent" runat="server">
    Request Cancelled
</asp:Content>

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Dinner Deleted</h2>

    <div>
        <p>Your Request was successfully deleted...</p>
    </div>

    <div>
        <p><a href="/Request">Click for Requests</a></p>
    </div>

</asp:Content>